.form
  %h2
    View Lead
    .pull-right{style: 'margin-top:-10px'}
      = link_to 'Convert Lead', convert_lead_path(@lead), data: {toggle: 'modal'}, class: 'btn btn-primary'
  %br
    = render partial: 'form'

  %fieldset
    %legend{style: 'width:97%'}
      Lead Activities
    .activities-section
      %h4 Recent Activity for #{@lead.full_name}:
      %p
        %table.table.table-striped
          %thead
            %tr
              %th
                Note
              %th
                Type
              %th
                Due Date
              %th
                Actions
          %tbody
            - if @lead.notes
              - @lead.notes.each do |note|
                %tr
                  %td
                    = note.content
                  %td
                    = note.note_type
                  %td
                    = note.due_date
                  %td
                    / = link_to '', edit_lead_note_path(@lead, note), class: 'icon-edit', id: 'edit'
                    = link_to '', lead_note_path(@lead, note), method: 'delete', class: 'icon-trash', data: { confirm: 'Are you sure that you want to delete this note?'}, id: 'delete'

      %p
      - if @note
        = render 'notes/edit'

      %hr
      %h3 Create a new note:
      %p
        = simple_form_for [@lead, Note.new] do |n|
          = n.input :content, as: :text, input_html: {rows: 5, class: "field span7"}
          = n.input :note_type, collection:[['Call Back', 'call'],['Email', 'email'], ['Follow Up', 'follow_up']]
          = n.input :due_date, as: :string, input_html: { :class => 'jquery-ui-date'}
          = n.submit 'Add new Note', class: 'btn btn-primary'







