.span6
  %form
    = simple_form_for @contact_form do |f|
      = f.input :name, :required => false
      = f.input :email, :required => false
      = f.input :message, :as => :text, :required => false
      .hidden
        = f.input :nickname, :hint => 'Leave this field blank!'
      = f.button :submit, 'Send message', class: '.btn.btn-primary.input-medium.pull-right'