.form-horizontal
  .fieldset
    .legend
    = simple_form_for @account, :html => { :class => 'form-horizontal' }  do |f|
      .left-column
        = f.input :name
        = f.input :email
        = f.input :assigned_to, collection:(@lead_owner)
        = f.input :website
      .right-column
        = f.input :phone
        = f.input :address
      .clearfix
      .buttons
        = f.submit class: 'btn btn-primary'
        = link_to 'Cancel', accounts_path, class: "btn btn-danger"
